<header class="navbar navbar-custom container-full-sm" id="header">
   
  <div class="header-middle">
    <div class="container">

      <div class="row">
        <div class="col-lg-1 col-md-2 col-lgmd-10per">
          <div class="header-middle-left">
            <div class="navbar-header float-none-sm">
              <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fa fa-bars"></i></button>
              <a class="navbar-brand page-scroll" href="index.html">
                <img alt="Electro" src="assets/images/logo.png">
              </a> 
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 col-lgmd-75per">
          <div class="header-right-part">
            <div class="category-dropdown">
              <select id="search-category" name="search-category">
                <option value="">All Categories</option>
                <option value="20">Baking</option>
                <option value="26">Biscuit & Cake</option>
                <option value="43">Breakfast</option>
                <option value="44">Canned Food</option>
                <option value="47">Cereal</option>
                <option value="55">Chocolates & Sweets</option>
                <option value="27">Cooking Ingredients</option>
              </select>
            </div>
            <div class="main-search">
              <div class="header_search_toggle desktop-view">
                <form>
                  <div class="search-box">
                    <input class="input-text" type="text" placeholder="Search entire store here...">
                    <button class="search-btn"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="footer_social pt-xs-15 center-sm" style="margin-top: 13px">
            <ul class="social-icon">
              <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
              <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a></li>
              <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
              <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
              <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest"> </i></a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-2 col-lgmd-15per">
          <div class="middle-link right-side">
            <ul>
              <li class="login-icon content">
                <a class="content-link">
                <span class="content-icon"></span> 
                </a> 
                <a href="login.html" title="Login">Login</a> or
                <a href="register.html" title="Register">Register</a>
                <div class="content-dropdown">
                  <ul>
                    <li class="login-icon"><a href="login.html" title="Login"><i class="fa fa-user"></i> Login</a></li>
                    <li class="register-icon"><a href="register.html" title="Register"><i class="fa fa-user-plus"></i> Register</a></li>
                  </ul>
                </div>
              </li>
              <li class="track-icon">
                <a title="Track your order"><span></span> Track your order</a>
              </li>
              <li class="gift-icon">
                <a href="" title="Gift card"><span></span> Gift card</a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="header-bottom"> 
    <div class="container">
      <div class="row position-r">
        <div class="col-lg-9 col-md-10 col-lgmd-80per">
          <div class="bottom-inner">
            <div class="position-r">          
              <div class="nav_sec position-r">
                <div class="mobilemenu-title mobilemenu">
                  <span>Menu</span>
                  <i class="fa fa-bars pull-right"></i>
                </div>
                <div class="mobilemenu-content">
                  <ul class="nav navbar-nav" id="menu-main">
                    <li>
                      <a routerLink="">Home</a>
                    </li>
                    <li>
                      <a routerLink="about-us">About Us</a>
                    </li>
                    <li>
                      <a routerLink="groceries">Grub Groceries</a>
                    </li>
                    <li>
                      <a routerLink="homemade">Grub Homemade</a>
                    </li>
                    <li>
                      <a routerLink="grub-mobile">Grub Mobile</a>
                    </li>
                    <li>
                      <a routerLink="grub-bag">Grub Bag</a>
                    </li>
                    <li>
                      <a routerLink="blog">Blog</a>
                    </li>
                    <li>
                      <a routerLink="contact">Contact Us</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-2 col-lgmd-20per position-end">
          <div class="right-side float-left-xs header-right-link">
            <ul>
               <li class="compare-icon"> <a href="#" title="account"> <span> </span> </a>
                <div class="dropdown-menu header-link-dropdown">
                  <ul class="link-dropdown-list">
                    <li>
                      <a routerLink="login">Login</a>
                    </li>
                    <li>
                      <a routerLink="register">Register</a>
                    </li>
                    <li>
                      <a routerlink="#">Track My Order</a>
                    </li>
                    <li>
                      <a routerlink="#">Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="wishlist-icon">
                <a routerLink="wishlist" title="wishlist">
                  <span></span>
                </a>
              </li>
              <li class="cart-icon"> <a href="#" title="cart"> <span> <small class="cart-notification">2</small> </span> </a>
                <div class="cart-dropdown header-link-dropdown">
                  <ul class="cart-list link-dropdown-list">
                    <li> <a class="close-cart"><i class="fa fa-times-circle"></i></a>
                      <div class="media"> <a class="pull-left"> <img alt="Mission Wrap" src="assets/images/mission-wrap.jpg"></a>
                        <div class="media-body"> <span><a>Mission Wraps Original Flavour 360g</a></span>
                          <p class="cart-price">RM3.85</p>
                          <div class="product-qty">
                            <label>Qty:</label>
                            <div class="custom-qty">
                              <input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty">
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li> <a class="close-cart"><i class="fa fa-times-circle"></i></a>
                      <div class="media"> <a class="pull-left"> <img alt="Electro" src="assets/images/cadbury.jpg"></a>
                        <div class="media-body"> <span><a>Cadbury Marvelous Creation Raspberry Lemonade</a></span>
                          <p class="cart-price">RM5.40</p>
                          <div class="product-qty">
                            <label>Qty:</label>
                            <div class="custom-qty">
                              <input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty">
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <p class="cart-sub-totle"> <span class="pull-left">Cart Subtotal</span> <span class="pull-right"><strong class="price-box">RM9.25</strong></span> </p>
                  <div class="clearfix"></div>
                  <div class="mt-20"> <a routerLink="cart" class="btn-color btn">Cart</a> <a routerLink="checkout" class="btn-color btn right-side">Checkout</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
