<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1 ">
  <div class="container">
    <section class="banner-detail center-xs">
      <h1 class="banner-title">About us</h1>
      <div class="bread-crumb right-side float-none-xs">
        <ul>
          <li><a href="index.html">Home</a>/</li>
          <li><span>About us</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>
<!-- Bread Crumb END -->  

<!-- CONTAIN START ptb-95-->
<section class="ptb-95">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="about-detail mt-40">
          <div class="row">
            <div class="col-xs-12">
              <div class="heading-part mb-30">
                <h2 class="main_title "><span>Who we are</span></h2>
              </div>
            </div>
            
            <div class="col-sm-12">
              <div class="heading-part align_left center-md">
              <p>Four individuals crossed paths during a charity program with a shared goal of reducing food watage. Backed by Mountain Partners, they joined an accelerator program before founding Grub Cycle.</p>
              <p>Since then, Grub Cycle has raised a few rounds of grants and investment worth almost RM1 million while gaining the support of Mountain Partners, MaGIC, myHarapan, Cradle, SUPERB TERAJU, Alliance Bank and Manulife - along with winning two awards at the Alliance BizSmart Challenge 2016.</p>
              <div class="text-center">
              <img src="assets/images/gc-timeline.png" />
              </div>
            </div>
          </div>
        </div>

        
      <div class="col-md-12 col-sm-12">
        <div class="responsive-part">
          <div class="row">
            <div class="col-sm-12 partner-detail-main">
              <div class="heading-part mb-30">
                <h2 class="main_title"><span>Corporation Contributors</span></h2>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="partner-block mb-sm-30 light-gray-bg">
                <ul>
                  <li><span><img src="assets/images/magic2.jpg" alt="Electro"></span></li>
                  <li><span><img src="assets/images/mountainmalaysia.jpg" alt="Electro"></span></li>
                  <li><span><img src="assets/images/cradle.jpg" alt="Electro"></span></li>
                  <li><span><img src="assets/images/myharapan.jpg" alt="Electro"></span></li>
                  <!-- <li class="owner-logo ">
                    <span><img src="images/logo.png" alt="Electro"></span>
                  </li> -->
                  <li><span><img src="assets/images/manulife.jpg" alt="Electro"></span></li>
                  <li><span><img src="assets/images/teraju.jpg" alt="Electro"></span></li>
                  <li><span><img src="assets/images/maybank2.jpg" alt="Electro"></span></li>
                  <li><span><img src="assets/images/fungrytv.jpg" alt="Electro"></span></li>
                  <li><span><img src="assets/images/picha.jpg" alt="Electro"></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </section> -->


<section class="ptb-95">
  <div class="container">
    <div class="team-part team-opt-1">
      <div class="heading-part  mb-30">
        <h2 class="main_title"><span>Individual Contributors</span></h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 plr-20">
          <div class="team-item listing-effect col-sm-margin-b"> <img alt="Electro" src="assets/images/ed.jpg">
            <div class="team-item-detail">
              <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
              <div class="listing-meta">Co-Founder</div>
              <div class="social_icon">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 plr-20">
          <div class="team-item listing-effect col-sm-margin-b"> <img alt="Electro" src="assets/images/asyraf.jpg">
            <div class="team-item-detail">
              <h3 class="sub-title listing-effect-title">Lusi Rose</h3>
              <div class="listing-meta">Project Manager</div>
              <div class="social_icon">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 plr-20">
          <div class="team-item listing-effect col-sm-margin-b"> <img alt="Electro" src="assets/images/nisa.jpg">
            <div class="team-item-detail">
              <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
              <div class="listing-meta">Co-Founder</div>
              <div class="social_icon">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 plr-20">
          <div class="team-item listing-effect col-sm-margin-b"> <img alt="Electro" src="assets/images/nisa.jpg">
            <div class="team-item-detail">
              <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
              <div class="listing-meta">Co-Founder</div>
              <div class="social_icon">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 plr-20">
          <div class="team-item listing-effect col-sm-margin-b"> <img alt="Electro" src="assets/images/cha.jpg">
            <div class="team-item-detail">
              <h3 class="sub-title listing-effect-title">Adamaris Corliss</h3>
              <div class="listing-meta">Co-Founder</div>
              <div class="social_icon">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
<!-- CONTAINER END --> 
