<div class="banner inner-banner1 ">
  <div class="container">
    <section class="banner-detail center-xs">
      <h1 class="banner-title">Grub Homemade</h1>
      <div class="bread-crumb right-side float-none-xs">
        <ul>
          <li><a href="index.html">Home</a>/</li>
          <li><span>Grub Homemade</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>
  <!-- Bread Crumb END -->  
  <!-- <div class="banner inner-banner3 ">
    <div class="container">
      <section class="center-xs">
        <div class="grubbag-desc">
        <h1 class="banner-title">Grub Homemade</h1>
        <p>Grub Homemade is a Grub Cycle’s active arm in tackling the issue of food waste and food utilization. We transform surplus or unwanted fruits and vegetables into a different form, thus increasing their life span.</p>
        </div>
      </section>
    </div>
  </div> -->
  <!-- CONTAIN START ptb-95-->
  <section class="pt-95">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="about-detail">
            <div class="row">
              <div class="col-xs-12">
                <div class="heading-part mb-30">
                  <h2 class="main_title "><span>The Grub Home Made</span></h2>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="heading-part align_center center-md">
                  <p>Our in house Chef-In-Residence meticulously develops recipes based on high quality food commodities that would otherwise go to the bin. Don’t worry: we’re not recycling expired goods, but we use perfectly useable and quality ingredients that otherwise would be thrown away. Our recipes are easy, affordable and of course, delicious! Get in touch with us to find out how you can better utilize food, or just to try out our products. Grub Homemade: making leftovers into bestsellers!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- SUB-BANNER START -->
<section class="pb-95">
  <div class="container">
    <div class=" center-sm">
      <div class="row">
        <div class="pro_cat">
          <div class="owl-carousel pro-cat-slider">
            <div class="item" >
              <div class="product-item" *ngFor = "let homemade of homemades">
                <div class="main-label new-label"><span>New</span></div>
                <div class="product-image"> <a href="product-page.html"> <img src="assets/images/pineapple.jpg" alt="Electro"> </a>
                  <div class="product-detail-inner">
                    <div class="detail-inner-left left-side">
                      <ul>
                        <li class="pro-cart-icon">
                          <form>
                            <button title="Add to Cart"><span></span>Add to Cart</button>
                          </form>
                        </li>
                      </ul>
                    </div>
                    <div class="detail-inner-left right-side">
                      <ul>
                        <li class="pro-wishlist-icon active"><a href="wishlist.html" title="Wishlist"></a></li>
                        <li class="pro-compare-icon"><a href="compare.html" title="Compare"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="product-item-details">
                  <div class="product-item-name"> <a href="product-page.html">{{homemade.name}}</a> </div>
                  <div class="price-box"> <span class="price">RM{{homemade.normal_price - 2}}</span> <del class="price old-price">RM{{homemade.normal_price}}</del> </div>
                  <div class="rating-summary-block right-side">
                    <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SUB-BANNER END -->


<section class="client-bg">
  <div class="top-shadow">
    <img alt="Electro" src="assets/images/top-shadow.png">
  </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="client-main client-bg" style="padding-bottom:0px">
            <div class="client-inner align-center">
              <div id="client" class="owl-carousel">
                <div class="item client-detail">
                  <div class="client-img left-side mt-40"> 
                    <h4 class="sub-title client-title">- Chermaine Low -</h4>
                  </div>
                  <div class="quote right-side" no-padding>
                    <div class="quote1-img">
                      <img src="assets/images/quote1.png" alt="Electro">
                    </div>
                    <p>
                          I'm no food connoisseur, but believe me when I say, GCs pineapple jam is one of the best homemade jams I've tried. Love the balance of sweet and sour flavours that I'm sure must have taken loads of love, time and attention to achieve. Would definitely recommend for all to try. =) 
                    </p>
                    <div class="quote2-img">
                      <img src="assets/images/quote2.png" alt="Electro">
                    </div>
                  </div>
                </div>
                <div class="item client-detail">
                  <div class="client-img left-side mt-40">
                    <h4 class="sub-title client-title">- Hiba - </h4>
                  </div>
                  <div class="quote-border right-side">
                    <div class="quote">
                      <div class="quote1-img">
                        <img src="assets/images/quote1.png" alt="Electro">
                      </div>
                      <p>
                              The pineapple jam is both good to have as snacks and in a sandwich. It's addictive!  
                      </p>
                      <div class="quote2-img">
                        <img src="assets/images/quote2.png" alt="Electro">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item client-detail">
                  <div class="client-img left-side mt-40">
                    <h4 class="sub-title client-title">- Roslin - </h4>
                  </div>
                  <div class="quote right-side">
                    <div class="quote1-img">
                      <img src="assets/images/quote1.png" alt="Electro">
                    </div>
                    <p>
                          I'm not a fan of sugar and preservatives but when i am, i am very selective - and Grub's pineapple jam is as close to natural as possible (hence u gotta finish it fast - but that's not a problem), with just the right amount of sugar, un-jelly'd and LOTS of pineapples. The best part? It's part of Grub Homemade's line of farm-to-table products that utilises surplus fruits and vegetables. Now that's conscious eating for u and the planet 
                    </p>
                    <div class="quote2-img">
                      <img src="assets/images/quote2.png" alt="Electro">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-shadow">
      <img alt="Electro" src="assets/images/bottom-shadow.png">
    </div>
</section>
      <!--Testimonial Block End -->