<!-- Bread Crumb STRAT -->
  <div class="banner inner-banner1 ">
    <div class="container">
      <section class="banner-detail center-xs">
        <h1 class="banner-title">Grub Bites</h1>
        <div class="bread-crumb right-side float-none-xs">
          <ul>
            <li><a href="index.html">Home</a>/</li>
            <li><span>Grub Bites</span></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <!-- Bread Crumb END -->  
  <!-- BANNER STRAT -->

    <div class="big-banner">
      <div class="main-banner">
        <div class="banner-1"> <img src="assets/images/grubbitestop3.jpg" alt="Electro">
          <div class="banner-detail">
            <div class="container">
              <div class="row">
                <div class="col-sm-9 col-xs-8">
                  <div class="banner-detail-inner"> 
                    <span class="slogan">Grub Bites</span>
                    <h1 class="banner-title-dark">Enjoy Delicious surplus cakes and pastries</h1>
                    <span class="offer-dark">From as little as RM 3</span>
                  </div>
                  <a class="btn btn-color big" href="shop.html">Discover Now!</a>
                </div>
                <div class="col-sm-3 col-xs-4"></div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>

  <!-- BANNER END --> 
  <!-- CONTAIN START ptb-95-->
  <section class="ptb-95">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="about-detail">
            <div class="row">
              <div class="col-xs-12">
                <div class="heading-part mb-30">
                  <h2 class="main_title "><span>How it works?</span></h2>
                </div>
              </div>
              
              <div class="col-sm-12">
                <div class="heading-part align_left center-md">
                <p>Do you have surplus food that you want to sell? Are you hungry and want some yummy meals at a bargain price? Would you like to join our cause? Our mobile app will help you!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12" text-center>
              <div class="heading-part mb-40">
                <div id="tabs" class="category-bar mb-20" style="text-align:center">
                  <ul class="tab-stap">
                    <li><a class="tab-step1 selected" title="step1">Sell My Product</a></li>
                    <li><a class="tab-step2" title="step2">Buy Some Bites</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        
        <div class="row">
          <div id="items">
            <div class="tab_content pro_cat">
              <ul>
                <li>
                  <div id="data-step1" class="items-step1 product-slider-main position-r selected" data-temp="tabdata">
                      <div style="text-align:center;">
                        <h4>Vendors will list their food on to the mobile app</h4>
                        <p>For vendors who are interested to join us and sell your surplus goods – it’s as easy as A, B, C</p>
                      </div>
                    <div class="col-md-4 col-sm-4 ">
                      <div class="sub-banner sub-banner1" >
                        <img alt="Electro" src="assets/images/pineapple.jpg">
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                      <div class="">
                        <div class="sub-banner sub-banner1">
                          <img alt="Electro" src="assets/images/pickles.jpg">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                      <div class="sub-banner sub-banner3" >
                        <img alt="Electro" src="assets/images/kimchi.jpg">
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div id="data-step2" class="items-step2 product-slider-main position-r" data-temp="tabdata">
                    <div style="text-align:center;">
                      <h4>Customers are welcome to buy the food at the store with a special code for the discounted price</h4>
                      <p>Want to buy good food at a cheaper price? It’s as easy as A, B, C</p>
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                      <div class="sub-banner sub-banner1" >
                        <img alt="Electro" src="assets/images/kimchi.jpg">
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                      <div class="">
                        <div class="sub-banner sub-banner1">
                          <img alt="Electro" src="assets/images/pickles.jpg">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                      <div class="sub-banner sub-banner3" >
                        <img alt="Electro" src="assets/images/kimchi.jpg">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      
        <div class="col-md-12 col-sm-12">
          <div class="responsive-part">
            <div class="row">
              <div class="col-sm-12 partner-detail-main">
                <div class="heading-part mb-30">
                  <h2 class="main_title"><span>Our Cafe Partners</span></h2>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="partner-block mb-sm-30 light-gray-bg">
                  <ul>
                    <li><span><img src="assets/images/magic2.jpg" alt="Electro"></span></li>
                    <li><span><img src="assets/images/mountainmalaysia.jpg" alt="Electro"></span></li>
                    <li><span><img src="assets/images/cradle.jpg" alt="Electro"></span></li>
                    <li><span><img src="assets/images/myharapan.jpg" alt="Electro"></span></li>
                    <!-- <li class="owner-logo ">
                      <span><img src="images/logo.png" alt="Electro"></span>
                    </li> -->
                    <li><span><img src="assets/images/manulife.jpg" alt="Electro"></span></li>
                    <li><span><img src="assets/images/teraju.jpg" alt="Electro"></span></li>
                    <li><span><img src="assets/images/maybank2.jpg" alt="Electro"></span></li>
                    <li><span><img src="assets/images/fungrytv.jpg" alt="Electro"></span></li>
                    <li><span><img src="assets/images/picha.jpg" alt="Electro"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </section> -->