<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1 ">
  <div class="container">
    <section class="banner-detail center-xs">
      <h1 class="banner-title">Grub Groceries</h1>
      <div class="bread-crumb right-side float-none-xs">
        <ul>
          <li><a href="index.html">Home</a>/</li>
          <li><span>Grub Groceries</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>
<!-- Bread Crumb END -->  

<!-- CONTAIN START -->
<section class="ptb-95">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 mb-sm-30 col-lgmd-20per">
        <div class="sidebar-block">
          <div class="sidebar-box listing-box mb-40"> <span class="opener plus"></span>
            <div class="sidebar-title">
              <h3>Categories</h3> <span></span>
            </div>
            <div class="sidebar-contant">
              <ul>
                <li *ngFor = "let category of product_category"><a>{{category.name}} <span>(21)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="sidebar-box mb-40"> <span class="opener plus"></span>
            <div class="sidebar-title">
              <h3>Shop by</h3> <span></span>
            </div>
            <div class="sidebar-contant">
              <div class="price-range mb-30">
                <div class="inner-title">Price range</div>
                <input class="price-txt" type="text" id="amount">
                <div id="slider-range"></div>
              </div>
              <div class="size mb-20">
                <div class="inner-title">Brand</div>
                <ul >
                  <li><a href="#">Cadbury (05)</a></li>
                  <li><a href="#">La Maestranza (02)</a></li>
                  <li><a href="#">Mission Wraps (01)</a></li>
                  <li><a href="#">One Brand (08)</a></li>
                  <li><a href="#">Another Brand (05)</a></li>
                </ul>
              </div>
              
              <a href="#" class="btn btn-color">Refine</a> </div>
          </div>
          <div class="sidebar-box mb-40 visible-md visible-lg"> 
            <a href="#"> 
              <img src="assets/images/tee.png" alt="Electro"> 
            </a> 
          </div>
          <div class="sidebar-box sidebar-item"> <span class="opener plus"></span>
            <div class="sidebar-title">
              <h3>Best Seller</h3> <span></span>
            </div>
            <div class="sidebar-contant">
              <ul>
                <li>
                  <div class="pro-media"> <a><img alt="T-shirt" src="assets/images/virgin-oil_2.jpg"></a> </div>
                  <div class="pro-detail-info"> <a>La Maestranza Extra Virgin Olive Oil</a>
                    <div class="rating-summary-block">
                      <div class="rating-result" title="53%"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="price-box"> <span class="price">RM13.50</span> </div>
                    <div class="cart-link">
                      <form>
                        <button title="Add to Cart">Add To Cart</button>
                      </form>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="pro-media"> <a><img alt="T-shirt" src="assets/images/cadbury_2.jpg"></a> </div>
                  <div class="pro-detail-info"> <a>Cadbury Marvelous Creation</a>
                    <div class="rating-summary-block">
                      <div class="rating-result" title="53%"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="price-box"> <span class="price">RM5.40</span> </div>
                    <div class="cart-link">
                      <form>
                        <button title="Add to Cart">Add To Cart</button>
                      </form>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="pro-media"> <a><img alt="T-shirt" src="assets/images/crousti-petal_2.jpg"></a> </div>
                  <div class="pro-detail-info"> <a>Chabrior Crousti Petal Cereal 375g</a>
                    <div class="rating-summary-block">
                      <div class="rating-result" title="53%"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="price-box"> <span class="price">RM5.00</span> </div>
                    <div class="cart-link">
                      <form>
                        <button title="Add to Cart">Add To Cart</button>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-lgmd-80per">
        <div class=" mb-40 visible-md visible-lg">

          <p>Grub Cycle is a social supermarket that is
dedicated to reducing food waste. With Grub Cycle, everyone
can purchase groceries, pastries and perishable food that are typically removed from shelves due to being close to expiry, damaged packaging or unique in appearance - all at a bargain price</p>

        
        </div> 
        <div class="shorting mb-30">
          <div class="row">
            <div class="col-md-6">
              <div class="view">
                <div class="list-types grid active "> <a href="shop.html">
                  <div class="grid-icon list-types-icon"></div>
                  </a> </div>
                <div class="list-types list"> <a href="shop-list.html">
                  <div class="list-icon list-types-icon"></div>
                  </a> </div>
              </div>
              <div class="short-by float-right-sm"> <span>Sort By</span>
                <div class="select-item">
                  <select>
                    <option value="" selected="selected">Name (A to Z)</option>
                    <option value="">Name(Z - A)</option>
                    <option value="">price(low&gt;high)</option>
                    <option value="">price(high &gt; low)</option>
                    <option value="">rating(highest)</option>
                    <option value="">rating(lowest)</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="show-item right-side float-left-sm"> <span>Show</span>
                <div class="select-item">
                  <select>
                    <option value="" selected="selected">24</option>
                    <option value="">12</option>
                    <option value="">6</option>
                  </select>
                </div>
                <span>Per Page</span>
              </div>
            </div>
          </div>
        </div>
        <div class="product-listing">
          <div class="inner-listing">
            <div class="row">
              <div *ngFor="let deal of deals" class="col-md-4 col-xs-6 mb-30">
                <div class="product-item">
                  <div class="product-image"> <a (click)="detail(deal.id)"> <img src="assets/images/mission-wrap.jpg" alt="Electro"> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"><span></span>Add to Cart</button>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="detail-inner-left right-side">
                        <ul>
                          <li class="pro-wishlist-icon"><a href="wishlist.html" title="Wishlist"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="product-item-name"> <a href="">{{deal.display_name}}</a> </div>
                    <div class="price-box"> <span class="price">RM{{deal.promo_price}}</span> <del class="price old-price">RM{{deal.product.normal_price}}</del> </div>
                    <div class="rating-summary-block right-side">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="pagination-bar">
                  <ul>
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTAINER END --> 